body{
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin:20vh 20vh;
}
h1{
    margin:0;
    text-transform: uppercase;
    font-family: 'Goldman', cursive;;
    padding: 10px 20px;
}
#container{
    background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 360px;
    margin: 0 auto;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

} 
.completed{
    color: yellowgreen;
    text-decoration: line-through;
    
}  
ul{
    
    align-self: flex-start; 
    line-height: 1.6rem;
} 
li{
    border-bottom: 2px solid black;
    list-style: none;
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 800;
    height: 40px;
  line-height: 40px;
  padding:0 10px 0 0;
  background-color: rgb(177, 177, 171);
}
li:nth-child(2n){
    background-color: rgb(95, 95, 104);
}
span{
    padding: auto;
    font-weight: 800;
    color: red;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display:inline-block;
    transition:0.2s linear;
    opacity: 0;
}
span:hover {
    background-color: rgb(110, 214, 13);
    height: 40px;
    
  

    }

li:hover span{
        width: 40px;
        opacity: 1.0;
     }
#input{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
    padding: 13px 13px 13px 30px;
    box-sizing: border-box;
    border:3px solid white;
}
#input:focus{
    background-color: white;
    border:3px solid white;
}
#myBtn{
    border-radius: 8px;
    border: none;
    padding: 5px;
}